# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environment
venv/

# dotenv environment variables file
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Docker files to exclude (optional)
papers/

